
.listagem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--borda);
    border-radius: 8px;
    height: fit-content;

    & h1{
        text-align: center;
    }
}

.simples{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    align-items: center;
    justify-items: center;
    gap: 10px;
    max-height: 80vh;
    overflow: auto;
    padding-right: 10px;

    & h3{
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
        background-color: var(--meioBranco);
    }
}

p{
    color: var(--cinza);
}