<div class="listagem">
  <h1>{{ titulo }}</h1>
  <ng-container *ngIf="itens.length > 0; else vazio">
    <div class="conteudo">
      <ng-container *ngIf="!itemSelecionado">
        <div *ngFor="let item of itens" class="item" [class]="variant" (click)="selecionarItem(item)">
          <div class="head">
            <h2>{{ item.descricao }}</h2>
            <span class="linhaDois"></span>
          </div>

          <div class="infos" [ngStyle]="{
            'display': 'grid',
            'grid-template-columns': 'repeat(' + campos.length + ', 1fr)'
          }">
            <div *ngFor="let c of campos">
              <p>{{ c }}</p>
              <h3>{{ item.dados?.[c] }}</h3>
            </div>
          </div>
        </div>
      </ng-container>

      <div *ngIf="itemSelecionado && variant == 'os'">
        <img style="cursor: pointer; margin-bottom: 30px;" src="voltar.svg" alt="" (click)="itemSelecionado = null" width="20">
        <ng-container *ngIf="itemSelecionado.dados?.['Status'] == 'Orçamento'">
          <div class="juntos">
            <ButtonsComponent text="Aprovar" (click)="mudarStatus('aprovar')"/>
            <ButtonsComponent text="Cancelar OS" variant="vermelho" (click)="mudarStatus('cancelar')"/>
          </div>
        </ng-container>
        <ng-container *ngIf="itemSelecionado.dados?.['Status'] == 'Execução'">
          <InputsComponent text="Valor do Pagamento" tipoInput="number" idInput="valor" placeholder="200" [(ngModel)]="valorPago" />
          <p style="font-size: 14px;">Valor total: {{ itemSelecionado.dados?.['Valor Total'] }}</p>
          <div class="juntos">
            <ButtonsComponent text="Pagar" (click)="mudarStatus('pagar')"/>
            <ButtonsComponent text="Cancelar OS" variant="vermelho" (click)="mudarStatus('cancelar')"/>
          </div>
        </ng-container>
      </div>

    </div>
  </ng-container>

  <ng-template #vazio>
    <p>{{ descricao }}</p>
  </ng-template>
</div>
