.pai{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--borda);
    border-radius: 8px;
    height: fit-content;

    &>div{
        display: flex;
        flex-direction: column;
    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
