<BaseLayout [opcoesVeiculo]="true">
    <div class="pai">
        <BlocoComponent titulo="Cadastro de acessórios" descricao="Preencha os dados do acessorio para cadastro" textButton="Cadastrar" (foiClicado)="cadastrarAcessorio()">
            <div class="conteudo">
                <InputsComponent text="Nome do acessório" tipoInput="text" idInput="acessorio" placeholder="Capa de volante" [(ngModel)]="addAcessorio.acessorio" />
            </div>
        </BlocoComponent>
        <span class="linha"></span>
        <ListagemSimplesComponent titulo="Acessórios Cadastrados" descricao="Sem acessórios cadastrados." [numGap]="3" />
    </div>
</BaseLayout>