button{
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
    border: none;
    outline: none;
    background-color: var(--preto);
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
    
    &:hover{
        background-color: var(--pretoHover);
    }

    &.vermelho{
        background-color: var(--vermelho);
    }

    &.vermelho:hover{
        background-color: var(--borda);
    }

    &.branco{
        width: fit-content;
        background-color: var(--branco);
        border: 1px solid var(--borda);
        color: var(--preto);
    }

    &.branco:hover{
        background-color: var(--meioBranco);
    }
}

